body{
    margin: 0;
    height: 100vh;
    background-color: #2ecc71;
    color: white;
    font-family: 'Rampart One', cursive;
}
#root{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app{
    width: 40vw; 
}
.main-title{
    text-align: center;
    font-size: 50px;
}
.length-control{
    display: inline-block;
    width: 50%;
}
.length-control-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.time-setting{
    font-size: 30px;
    margin: 0 10px;
}
i{
    font-size: 25px;
    color: white;
}
.label{
    font-size: 2rem;
    text-align: center;
    margin: 13px 0;
}
.timer{
    text-align: center;
    border: 10px solid #00ff6a;
    width: 50%;
    margin: 20px auto 10px;
    border-radius: 35px;
}
.time-running{
    font-size: 3.5rem;
    margin: 10px 0;
}
.time-ctrl{
    margin-top: 20px;
    text-align: center;
}
.contact-link {
    text-decoration: none;
    color: #ff9f43;
}
.footer{
    text-align: center;
    margin: 20px;
}
button{
    border: none;
    background-color: inherit;
    cursor: pointer;
}
@media(max-width: 1025px) {
    .app{
        width: 50vw;
    }
    .timer{
        width: 60%;
    }
}
@media(max-width: 850px) {
    .app{
        width: 60vw;
    }
}
@media(max-width: 700px) {
    .app{
        width: 70vw;
    }
}
@media(max-width: 590px) {
    .length-control{
        display: block;
        width: 90%;
        margin: 10px auto;
    }
}
@media(max-width: 410px) {
    .app{
        width: 75vw;
    }
    .timer{
        width: 75%;
    }
}
@media(max-width: 250px) {
    .app{
        width: 95vw;
    }
    .length-control{      
        width: 100%;      
    }
    .timer{
        width: 80%;
    }
}